{% extends 'CWApp/index.html' %}
{% load static %}

{% block content %}
<div class="margin">
    <img src="../../static/CWApp/images/020318_codecrew_2.jpg" height="386" width="579"/>
    <img src="../../static/CWApp/images/codecrew.jpg" height="386" width="580"/>
    <img src="../../static/CWApp/images/636676969230278008-180720-TN-Code-Crew-Toned-0004.jpeg" height="401" width="534"/>
    <img src="../../static/CWApp/images/636676969230590014-180720-TN-Code-Crew-Toned-0002.jpeg" height="405" width="540"/>
</div>
{% endblock %}